<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!--Navbar desplegable-->
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Libro de recetas</a>
        </div>

        <div class="collapse navbar-collapse">

            <!--Hamburguer-->
            <!--div class="navbar-header">
                <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                  <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
                </button>
                <a routerLink="/" class="navbar-brand">Recipe Book</a>
              </div>
              <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"-->

            <ul class="nav navbar-nav">
               <li routerLinkActive="active"><a routerLink="/recetas">Recetas</a></li>
               <li routerLinkActive="active"><a routerLink="/lista-compras">Lista de compras</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>