<div class="row">
    <div class="col-md-5">
        <app-lista-recetas></app-lista-recetas>
    </div>
    <div class="col-md-7">
        <router-outlet>
            
        </router-outlet>
    </div>
</div>
