<div class="row">
    <div class="col-xs-12">
        <button class="btn-success" (click)="onNewRecipe()">Nueva receta</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-articulo-recetas
        *ngFor="let recipeEl of recipes; let i = index"
        [recipe]="recipeEl" [index]="i"></app-articulo-recetas>
    </div>
</div>

