<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form group">
                    <label for="name">Nombre</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control"
                    name="name"
                    ngModel>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Cantidad</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Agregar</button>
                    <button class="btn btn-danger" type="button">Eliminar articulo</button>
                    <button class="btn btn-primary" type="button">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>